@using MathGamesApp.Core.Models
@model IEnumerable<ProblemCategoryViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    @foreach (var category in Model)
    {
        <div class="col-md-3 mb-4">
            <div class="category-card">
                <div class="category-card-header">
                    <h5 class="category-card-name">@category.Name</h5>
                    <form class="category-card-description" asp-controller="Problem" asp-action="Description" asp-route-id="@category.Id">
                        <input type="submit" value="?" class="category-card-description" />
                    </form>
                </div>
                <div class="category-card-img">
                    <img src="@category.ImageUrl" alt="Category Image" />
                </div>               
            </div>
        </div>
    }
</div>

@*Should move the css somewhere else*@
<style>
    .category-card {
        border-radius: 5px;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        transition: box-shadow 0.2s ease-in-out;
    }
    .category-card:hover {
        box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.3);
    }
    .category-card-img {
        height: 200px;
        overflow: hidden;
    }
    .category-card-img img {
        width: 100%;
    }
    .category-card-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }
    .category-card-name {
        margin-bottom: 0;
    }
    
</style>



