@using MathGamesApp.Core.Models.Problem
@model IEnumerable<AdditionProblemViewModel>


<h2>Check Addition Problem Answers</h2>

@if (Model.All(p => p.IsCorrect))
{
    <p>Congratulations, you got all the answers correct!</p>
}
else
{
    <p>Oops, you got some answers wrong. Here are the correct answers:</p>
    @foreach (var problem in Model)
    {
    <div class="problem @(problem.IsCorrect ? "correct" : "incorrect")">
        <p>@problem.Description</p>
        <label>Your Answer:</label>
        <span>@problem.UserAnswer</span>
        <label>Correct Answer:</label>
        <span>@problem.Answer</span>
    </div>
    }
}