@using MathGamesApp.Core.Models
@model ProblemCategoryViewModel

@{
    ViewData["Title"] = "Description";
}

<div class="col-md-3 mb-4">
             <div class="category-card" onclick="location.href='@Url.Action("GetProblemType", "Problem", new { categoryId = Model.Id })';" style="cursor: pointer;">
                <div class="category-card-header">
                    <h5 class="category-card-name">@Model.Name</h5>
                </div>
                <div class="category-card-img">
                    <img src="@Model.ImageUrl" alt="Category Image" />
                </div>              
                <div class="category-card-description">
                    <p>@Model.Description</p>
                </div>
            </div>
        </div>


        <style>
    .category-card {
        border-radius: 5px;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        transition: box-shadow 0.2s ease-in-out;
    }
    .category-card:hover {
        box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.3);
    }
    .category-card-img {
        height: 200px;
        overflow: hidden;
    }
    .category-card-img img {
        width: 100%;
    }
    .category-card-header {
        padding: 20px;
    }
    .category-card-name {
        margin-bottom: 0;
    }
    
</style>
