@using MathGamesApp.Core.Models.Problem
@model IEnumerable<DifficultyLevelsViewModel>

@{
    ViewData["Title"] = "Difficulty Level";
}

<div class="row">
    @foreach(var level in Model)
    {
       <a asp-controller="Problem" asp-action="GenerateAdditionProblems" asp-route-difficultyLevelId="@level.Id">
                        <input type="submit" value="@level.Name"/>
       </a>

        //<h5 class="levels-card-name">@levels.Name</h5>
    }
</div>